body {
  max-width: 600px;
  margin: auto;
  font-family: Baloo2, Arial, Helvetica, sans-serif
}
h1 {
  font-weight: bold;
  color: #006884;
}
h3 {
  margin-top: 4px;
}
.section-container {
  background-color: #00909e;
  color: white;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 10px;
}
.jr-input-group {
  border: 1px solid white;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 5px;
}
.jr-input-container {
  margin-top: 8px;
}
.jr-btn-remove-container {
  position: relative;
  height: 15px;
}
.jr-btn-add {
  padding: 4px 5px;
  line-height: 1;
}
.jr-btn-remove {
  position: absolute;
  right: 0;
  padding: 4px 5px;
  line-height: 1;
}
#top-container {
  background-color: #006884;
  color: white;
}
.modal-content {
  background-color: #006884;
  color: white;
}
.btn {
  border-color: white;
}
.btn:hover {
  background-color: #fa9d00;
  border-color: white;
  color: white;
}
.progress {
  margin-bottom: -10px;
}
.progress-bar {
  background-color: #fa9d00;
}
